<!--entregable 4 ppt pagina 24-->
<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->
  <div class="div-title form-inline col-sm-12 mb-2">
    <h1 class="text-uppercase"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud de apoyo
      económico</h1>
    <input class="fecha ml-3" type="text" value="11/18/2018" disabled>
    <button class="btn btn-primary btn-send ml-4" href="#">Cerrar sesión</button>
  </div>

  <!-- grid-div Bandeja trabajo -->
  <div class="container-body">
    <div class="col-md-12 form-horizontal">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-visto-bueno" data-toggle="tab" href="/#!/solicitud-visto-bueno" role="tab"
            aria-controls="nav-visto-bueno" aria-selected="false">Solicitudes con visto</a>
          <a class="nav-item nav-link active" id="nav-asignar-result" data-toggle="tab" href="/#!/asignacion-de-resultado-lista"
            role="tab" aria-controls="nav-asignar-result" aria-selected="true">Asignar resultado</a>
        </div>
      </nav>
      <!--AQUI MOSTRAR LISTA DE SOLICITUDES QUE SE TIENE QUE MOSTRAR -->
      <!-- CUANDO LE DAS CLICK VA A LA PAGINA 25 (asignarResultado.html)-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active divNav" id="visto-bueno" role="tabpanel" aria-labelledby="nav-visto-bueno">
          <div class="col-sm-12">
            <div class="list-group m-2">
              <div class="list-group-item">
                <div class="txt-subtitle text-uppercase">Michelle Sosa Rodriguez </div>
                <div class="solc text-uppercase">
                  en ponderación
                </div>
                <div>Olimpiadas interuniversitarias</div>
              </div>
            </div>
          </div>
        </div>
      </div>
