<!--entregable 4 ppt pagina 25-->
<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->
  <div class="div-title form-inline col-sm-12 mb-2">
    <h1 class="text-uppercase"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud de apoyo
      económico</h1>
    <input class="fecha ml-3" type="text" value="11/18/2018" disabled>
    <button class="btn btn-primary btn-send ml-4" href="#">Cerrar sesión</button>
  </div>

  <!-- grid-div Bandeja trabajo -->
  <div class="container-body">
    <div class="col-md-12 form-horizontal">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link " id="nav-visto-bueno" data-toggle="tab" href="/#!/solicitud-visto-bueno" role="tab"
            aria-controls="nav-visto-bueno" aria-selected="false">Solicitudes con visto</a>
          <a class="nav-item nav-link active" id="nav-asignar-result" data-toggle="tab" href="/#!/asignacion-de-resultado-lista"
            role="tab" aria-controls="nav-asignar-result" aria-selected="true">Asignar resultado</a>
        </div>
      </nav>

      <div class="tab-content mb-2" id="myTabContent">
        <div class="tab-pane fade show active divNav" id="visto-bueno" role="tabpanel" aria-labelledby="nav-visto-bueno">
<!--PRIMER BLOQUE ----------------------------------------------------------------------------------------->
          <div class="col-sm-12">
            <h3 class="txt-subtitle text-uppercase mt-3">Asignación de Resultado</h3>
            <div class="list-group ml-5 mb-3 col-sm-10">
              <div class="list-group-item">
                <div class="col-sm-6 div-1">
                  <div class="txt-subtitle text-uppercase mb-2">Michelle Sosa Rodriguez 8-930-292</div>
                  <div class="text-uppercase mb-2">Facultad en Ingeniería en Sistemas</div>
                  <div>Olimpiadas interuniversitarias</div>
                </div>

                <div class="col-sm-6 float-right div-2">
                  <div class="txt-subtitle text-uppercase ">Proyección buena</div>
                  <div class="txt-subtitle text-uppercase ">fecha de evento:
                    <div class="font-normal ml-4">29-02-2018</div>
                  </div>
                  <div class="txt-subtitle text-uppercase ">Apoyo solicitado:
                    <div class="font-normal ml-3">Gasto de viaje</div>
                  </div>
                </div>
              </div>
            </div>
<!--HISTORIAL QUE SE DESPLIEGA----------------------------------------------------------------------------- -->
            <div class="history col-sm-10 mb-2">
              <div class="ml-3 mr-3">
                <label class="control-label font-normal"> Ver historial</label><i class="fa fa-angle-down float-right mt-2"></i>
              </div>

            </div>
<!-- SEGUNDO BLOQUE---------------------------------------------------------------------------------------->
            <div class="list-group ml-5 mb-2 col-sm-10">
              <div class="list-group-item">
                <label class="control-label txt-subtitle">tipo de apoyo económico según análisis económico:</label>
                <div class="form-inline form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-requiered="true">
                  <label class="form-check-label mr-3" for="exampleCheck1">No aplica</label>

                  <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-requiered="true">
                  <label class="form-check-label mr-3" for="exampleCheck1">Ninguno posible</label>

                  <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-requiered="true">
                  <label class="form-check-label mr-3" for="exampleCheck1">Inscripción</label>

                  <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-requiered="true">
                  <label class="form-check-label mr-3" for="exampleCheck1">Gasto de viaje</label>

                  <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-requiered="true">
                  <label class="form-check-label mr-3" for="exampleCheck1">Otro apoyo económico</label>

                  <label class="control-label txt-subtitle text-uppercase">b/.</label>
                  <input type="decimal" class="input-number ml-2" ng-requiered="true">
                </div>
                <div>
                  <label class="control-label txt-subtitle text-uppercase">observaciones:</label>
                  <div>
                    <textarea class="texTarea input-number col-sm-12"></textarea>
                  </div>
                </div>
              </div>
            </div>
<!--BOTONES------------------------------------------------------------------------------------------------->
            <div class="form-inline mright col-sm-12">
              <div class="mr-2 mb-3">
                <button type="submit" class="btn btn-primary btn-send text-uppercase">Atrás</button>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-send text-uppercase">asignar resultados</button>
              </div>
            </div>
          </div>
        </div>
      </div>
