<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->

  <h1 class="div-title text-uppercase"><img class="logo_2" src="../images/logo3.png"> formulario de solicitud de apoyo
    económico</h1>

  <!-- grid-div Bandeja trabajo -->
  <div class="container-body">
    <div class="col-md-12 form-horizontal">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-bandeja" data-toggle="tab" href="/#!/bandeja-trabajo" role="tab" aria-controls="nav-bandeja"
            aria-selected="true">Bandeja</a>
          <a class="nav-item nav-link" id="nav-seguimiento" data-toggle="tab" href="/#!/seguimiento" role="tab" aria-controls="nav-seguimiento"
            aria-selected="false">Seguimiento</a>
          <a class="nav-item nav-link" id="nav-visto-bueno" data-toggle="tab" href="/#!/dar-visto-bueno" role="tab" aria-controls="nav-visto-bueno"
            aria-selected="false">Dar visto bueno</a>
        </div>
      </nav>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active divNav" id="bandeja" role="tabpanel" aria-labelledby="nav-bandeja">
          <div class="col-sm-12">
            <!-- busqueda -->
            <input type="text" class="form-control search" value="Buscar"><i class="fa fa-search"></i>
          </div>
      </div>
    </div>
