<!--entregable 4 ppt pagina 14-->
<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->

  <h1 class="div-title text-uppercase"><img class="logo_2" src="../images/logo3.png"> formulario de solicitud de apoyo
    económico</h1>

  <!-- grid-div Bandeja trabajo -->
  <div class="container-body">
    <div class="col-md-12 form-horizontal">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-bandeja" data-toggle="tab" ui-sref="bandeja_trabajo" role="tab"
            aria-controls="nav-bandeja" aria-selected="false">Bandeja</a>
          <a class="nav-item nav-link" id="nav-seguimiento" data-toggle="tab" ui-sref="seguimiento" role="tab"
            aria-controls="nav-seguimiento" aria-selected="false">Seguimiento</a>
          <a class="nav-item nav-link active" id="nav-visto-bueno" data-toggle="tab" ui-sref="dar_visto_bueno" role="tab"
            aria-controls="nav-visto-bueno" aria-selected="true">Dar visto bueno</a>
        </div>
      </nav>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active divNav" id="visto-bueno" role="tabpanel" aria-labelledby="nav-visto-bueno">
          <div class="col-sm-12">
            <div class="list-group">

              <commons-items data="ctrl.data" state="ctrl.state"></commons-items>

            </div>

          </div>
        </div>
      </div>
    </div>
