<div class="body-principal-sapni">

  <!-- Título Principal de la Página-->
  <h1 class="div-title text-uppercase">formulario de solicitud de apoyo económico</h1>

  <!-- grid-div agregarEstudiante -->
  <div class="container-body">
    <div class="col-md-12">
      <form action="" class="form-horizontal">
        <div class="grid-div">

          <div class="form-group row ml-2 mt-3">
            <label class="control-label txt-subtitle">Nombre</label>
            <input class="ml-2 col-sm-4 form-control txt-input-small" type="text" name="name">

            <label class="ml-5 control-label txt-subtitle">Cédula</label>
            <input class="ml-2 col-sm-2 form-control txt-input-small mr-5" type="text" name="name">

            <label class="ml-5 control-label txt-subtitle">Unidad académica</label>
            <select class="ml-2 col-sm-2 txt-input-small">
              <option>1</option>
            </select>
          </div>

          <div class="form-group row ml-2 mt-2">
            <label class="control-label">Última vez que participó en un evento</label>
            <select class="ml-2 col-sm-9 txt-input-small">
              <option>1</option>
            </select>

          </div>


        </div>

        <span class="mt-3 link-text"><i class="fa fa-plus-circle mr-1"></i><a class="font-normal">Agregar estudiante</a></span>

        <!-- grid-div  -->
        <div class="grid-div mt-3">

          <div class="form-group row ml-2 mt-3">
            <label class="control-label txt-subtitle">Evento en el que desea participar</label>
            <select class="ml-2 col-sm-9 txt-input-small">
              <option>1</option>
            </select>

          </div>

          <div class="form-group row ml-2 mt-2">

            <div class="col-sm-4">
              <label class="control-label txt-subtitle">Tipo de evento</label>
              <div class="radio">
                <input type="radio" name="tipoEvento"><label class="ml-2">Cultural</label>
              </div>
              <div class="radio">
                <input type="radio" name="tipoEvento"><label class="ml-2">Deportivo</label>
              </div>
            </div>

            <div class="col-sm-4">
              <label class="control-label txt-subtitle">Alcande del evento</label>
              <div class="radio">
                <input type="radio" name="tipoEvento"><label class="ml-2">Nacional</label>
              </div>
              <div class="radio">
                <input type="radio" name="tipoEvento"><label class="ml-2">Internacional</label>
              </div>
            </div>

            <div class="col-sm-4">
              <label class="control-label txt-subtitle">Lugar</label>
              <select class="col-sm-9 txt-input-small">
                <option>1</option>
              </select>
            </div>

          </div>

          <div class="form-group row ml-2 mt-2">

            <div class="col-sm-4">
              <label class="control-label txt-subtitle">Proyección de la institución a través del evento</label>
              <div class="radio">
                <input type="radio" name="tipoEvento"><label class="ml-2">Excelente</label>
              </div>
            </div>

            <div class="col-sm-6">
              <label class="control-label txt-subtitle">Fecha de participación en el evento</label>

              <div class="col-sm-5">
                <label class="control-label">Inicio</label>
                <input class="form-control txt-input-small mr-5" type="date" name="fechaEvento">
              </div>

              <div class="col-sm-5">
                <label class="control-label">Fin</label>
                <input class="form-control txt-input-small mr-5" type="date" name="fechEvento">
              </div>
            </div>
          </div>

        </div>
    </div>
    </form>

  </div>
</div>

</div>
