<!--DESPLEGABLE DEL HISTORIAL DE LA PAGINA 25-->
<div class="history col-sm-10 mb-2">
  <label class="control-label font-normal ml-3"> Ver historial</label><i class="fa fa-angle-up float-right mt-2 mr-3"></i>
  <div class="history-drown">
    <div class="h control-label txt-subtitle text-uppercase ml-3 mr-3">
      <div class="ml-4 mr-4">solicitado
        <div class="float-right font-normal">10/10/2018 9:50<span class="text-uppercase"> a.m</span></div>
      </div>

    </div>
    <div class="h control-label txt-subtitle text-uppercase ml-3 mr-3">
      <div class="ml-4 mr-4">visto bueno
        <div class="float-right  font-normal">11/10/2018 2:00<span class="text-uppercase"> p.m</span></div>
      </div>

    </div>
    <div class="h control-label txt-subtitle text-uppercase ml-3 mr-3">
      <div class="ml-4 mr-4">comisión asignada
        <div class="float-right font-normal">11/10/2018 4:40<span class="text-uppercase"> p.m</span></div>
      </div>

    </div>

  </div>
</div>