<!--ENVIÓ DE CORREO SAPNI 
FLUJO ESTUDIANTE: EC1: COMUNICACIÓN 

Asunto: SAPNI UTP – Solicitud #<id_solicitud> - Resultado-->

<div class="container-body col-sm-12">
        <div class="">
          <div class="form-inline col-sm-12 mb-2 mt-3 text-center">
            <h6 class="text-uppercase txt-subtitle"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud
              de apoyo
              económico<span class="sapni"> Sistema de apoyo para presentaciones nacionales e internacionales</span></h6>
          </div>
          <div class="ml-4 mr-4 mb-5">
                <Nombre del estudiante>, tu solicitud  #<id_solicitud> de apoyo económico para la representación de la universidad en eventos nacionales o internacionales, ha culminado el trámite.
                <br><br>
                El resultado ha sido <tipo_resultado>, contacta al Secretario de Vida Universitaria para obtener más información.
                        
          </div>
          <div class="pie ml-4 mt-5">“Camino a la excelencia, a través del mejoramiento continuo…”</div>
        </div>
      </div>
      