<!--ENVIÓ DE CORREO SAPNI 
FLUJO RECTORÍA: EC4: EVALUACIÓN

Asunto: SAPNI UTP – Nuevas solicitudes en evaluación-->

<div class="container-body col-sm-12">
        <div class="">
          <div class="form-inline col-sm-12 mb-2 mt-3 text-center">
            <h6 class="text-uppercase txt-subtitle"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud
              de apoyo
              económico<span class="sapni"> Sistema de apoyo para presentaciones nacionales e internacionales</span></h6>
          </div>
          <div class="ml-4 mr-4 mb-5">
            El Sistema de Apoyo para Presentaciones Nacionales e Internacionales tiene un nuevo mensaje para ti:
                <ul>
               <li> Tienes nuevas solicitudes en evaluación, asigna una comisión evaluadora para que continúe el trámite</li>
                </ul>    
            Ingresa al sistema a través de: <url_sapni>    
          </div>
          <div class="pie ml-4 mt-5">Alerta generada automáticamente por el sistema, exclusivamente para Rectoría.</div>
        </div>
      </div>