<!--NOTIFICACION 1 FORMULADO ENVIADO PANTALLA 7-->
<div class="container-body">

  <div class="col-md-12">

    <div class="text-center">
      <form>
        <div class="col-md-6 text-center border-round">
          <div class="form-group pt-3">
            <img src="../images/logo_utp.png"
              class="logo-login">
          </div>
          <div>
            <h1 class="txt-subtitle text-uppercase">formulario enviado</h1>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>