<!--NOTIFICACION 2 COMISIÓN ASIGNADA PANTALLA 23-->
<div class="container-body">
  <div class="col-md-12">
    <div class="text-center">
      <form>
        <div class="col-md-6 text-center border-round">
          <div>
            <h1 class="txt-subtitle text-uppercase mt-3">Comisión Asignada</h1>
          </div>
          <div class="form-group pt-3">
            <img src="../images/logo_utp.png" class="logo-login">
          </div>
          <div class="txt-subtitle font-normal">
            La solicitud tiene asignada una comisión.
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-send text-uppercase col-sm-3 mr-5">Regresar</button>
            <button type="submit" class="btn btn-send text-uppercase col-sm-3 ml-5">Acepto</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
