<!--entregable 4 ppt pagina 15-->
<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->

  <h1 class="div-title text-uppercase"><img class="logo_2"
      src="../images/logo3.png"> formulario de solicitud de apoyo
    económico</h1>

  <div class="container-body grid-div">

    <div class="col-sm-12">
      <h3 class="txt-subtitle text-uppercase mt-5">Revisión Solicitud</h3>

      <div class="list-group ml-5 mb-3 col-sm-10">
        <div class="list-group-item">
          <div class="col-sm-6 div-1">
            <div class="txt-subtitle text-uppercase mb-2">Michelle Sosa Rodriguez 8-930-292</div>
            <div class="text-uppercase mb-2">Facultad en Ingeniería en Sistemas</div>
            <div>Olimpiadas interuniversitarias</div>
          </div>

          <div class="col-sm-6 float-right div-2">
            <div class="txt-subtitle text-uppercase ">Proyección buena</div>
            <div class="txt-subtitle text-uppercase ">fecha de evento:
              <div class="font-normal ml-4">29-02-2018</div>
            </div>
            <div class="txt-subtitle text-uppercase ">Apoyo solicitado:
              <div class="font-normal ml-3">Gasto de viaje</div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-inline mright col-sm-12">
        <div class="mr-3 mb-5">
          <button type="submit"
            class="btn btn-primary btn-send text-uppercase">Atras</button>
        </div>
        <div class="mb-5">
          <button type="submit"
            class="btn btn-primary btn-send text-uppercase">Dar visto bueno</button>
        </div>
      </div>

    </div>

  </div>
</div>