<!--entregable 4 ppt pagina 15-->
<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->
  <div class="div-title form-inline col-sm-12 mb-2">
    <h1 class="text-uppercase"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud de apoyo
      económico</h1>
    <input class="fecha ml-3" type="text" value="11/18/2018" disabled>
    <button class="btn btn-primary btn-send ml-4" href="#">Cerrar sesión</button>
  </div>
  <div class="col-sm-12">
    <h3 class="txt-subtitle text-uppercase mt-5">Revisión Solicitud</h3>
    <!--REVISION DE LA SOLICITUD MUESTRA CAMPOS--->
    <div class="list-group ml-5 mb-3 col-sm-10">
      <div class="list-group-item">
        <div class="col-sm-6 div-1">
          <div class="txt-subtitle text-uppercase mb-2">Michelle Sosa Rodriguez 8-930-292</div>
          <div class="text-uppercase mb-2">Facultad en Ingeniería en Sistemas</div>
          <div>Olimpiadas interuniversitarias</div>
        </div>

        <div class="list-group ml-5 mb-3 col-sm-10">
          <div class="list-group-item">
            <div class="col-sm-6 div-1">
              <div class="txt-subtitle text-uppercase mb-2">Michelle Sosa Rodriguez 8-930-292</div>
              <div class="text-uppercase mb-2">Facultad en Ingeniería en Sistemas</div>
              <div>Olimpiadas interuniversitarias</div>
            </div>

            <div class="col-sm-6 float-right div-2">
              <div class="txt-subtitle text-uppercase ">Proyección buena</div>
              <div class="txt-subtitle text-uppercase ">fecha de evento:
                <div class="font-normal ml-4">29-02-2018</div>
              </div>
              <div class="txt-subtitle text-uppercase ">Apoyo solicitado:
                <div class="font-normal ml-3">Gasto de viaje</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--BOTONES-------------------------------------------------------------------------------------------------->
      <div class="form-inline mright col-sm-12">
        <div class="mr-3 mb-5">
          <button type="submit" class="btn btn-primary btn-send text-uppercase">Atrás</button>
        </div>
        <div class="mb-5">
          <button type="submit" class="btn btn-primary btn-send text-uppercase">Dar visto bueno</button>
        </div>
      </div>

    </div>

  </div>
</div>
