<!--entregable 4 ppt pagina 21-->
<div class="body-principal-sapni">
    <!-- Título Principal de la Página-->
  
    <h1 class="div-title text-uppercase"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud de apoyo
      económico</h1>
  
    <!-- grid-div Bandeja trabajo -->
    <div class="container-body">
      <div class="col-md-12 form-horizontal">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-visto-bueno" data-toggle="tab" href="/#!/solicitud-visto-bueno" role="tab" aria-controls="nav-visto-bueno"
              aria-selected="true">Solicitudes con visto</a>
            <a class="nav-item nav-link" id="nav-asignar-result" data-toggle="tab" href="/#!/asignacion-de-resultado-lista" role="tab" aria-controls="nav-asignar-result"
              aria-selected="false">Asignar resultado</a>
          </div>
        </nav>
  
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active divNav" id="visto-bueno" role="tabpanel" aria-labelledby="nav-visto-bueno">
            <div class="col-sm-12">
               <!-- CUANDO LE DAS CLICK VA A LA PAGINA 22 (solicitudVistoBueno.html)-->
                <div class="list-group m-2">
                    <div class="list-group-item">
                      <div class="txt-subtitle text-uppercase">Michelle Sosa Rodriguez </div>
                      <div class="solc text-uppercase">
                            <span class="mt-3 link-text"><i class="fa fa-plus-circle mr-1"></i><a class="font-normal">Agregar estudiante</a></span>
                           en evaluación 
                       </div>
                      <div>Olimpiadas interuniversitarias</div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
  