<!--entregable 4 ppt pagina 31-->
<div class="body-principal-sapni">
  <!-- Título Principal de la Página-->
  <div class="div-title form-inline col-sm-12 mb-2">
    <h1 class="text-uppercase"><img class="logo_2" src="../images/logo_utp.png"> formulario de solicitud de apoyo
      económico</h1>
    <input class="fecha ml-3" type="text" value="11/18/2018" disabled>
    <button class="btn btn-primary btn-send ml-4" href="#">Cerrar sesión</button>
  </div>

  <!-- grid-div Bandeja trabajo -->
  <div class="container-body">
    <div class="col-md-12 form-horizontal">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-solc-asignadas" data-toggle="tab" href="/#!/solicitudes-asignadas"
            role="tab" aria-controls="nav-solc-asignadas" aria-selected="true">Solicitudes Asignadas</a>
        </div>
      </nav>
      <!-- CUANDO LE DAS CLICK VA A LA PAGINA 32 (historialSolicitud.html)-->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active divNav" id="solc-asignadas" role="tabpanel" aria-labelledby="nav-solc-asignadas">
          <div class="col-sm-12">

            <div class="list-group m-2" ng-repeat="solicitud in ctrl.dataUser.solicitudes">
              <div class="list-group-item" ng-click="ctrl.openRequest(solicitud)">
                <div class="ml-1 row">
                  <div class="txt-subtitle text-uppercase" ng-repeat="estudiante in solicitud.estudiantes">{{estudiante.nombre}}<span
                      ng-if="!$last">,&nbsp;</span></div>
                </div>
                <div class="solc text-uppercase">
                  {{solicitud.etapa}}
                </div>
                <div>{{solicitud.evento}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
